:root{
    font-size: 16px;
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url('./images/pattern-background-desktop.svg') no-repeat;
    background-size: contain;
    background-color: var(--Pale-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
    min-height: 100vh;
}

.main-container{
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    

    .hero-img{
        width: 100%;
        border-radius: 10px 10px 0 0;
    }

    .order-summary{
        text-align: center;
        h1{
            margin-top: 3rem;
            font-family: 'Red Hat Display', sans-serif;
            color: var(--Dark-blue);
            font-size: 1.5rem;
        }

        p{
            color: var(--Desaturated-blue);
            font-weight: 500;
        }
    }

    .summary-description{
        width: 65%;
        margin: 0 auto;
        font-family: 'Red Hat Display', sans-serif;
    }

    .annual-plan-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 60%;
        padding: 2rem 0;
        font-family: 'Red Hat Display', sans-serif;

        img{
            margin-right: 1rem;
        }

        h4{
            margin: 0;
            color: var(--Dark-blue);
            font-weight: 700;
        }

        p{
            margin: 0;
            margin-top: 0.25rem;
            color: var(--Desaturated-blue);
        }

        .annual-plan{
            text-align: left;
            
        }

        a{
            margin-left: 6rem;
            color: var(--Bright-blue);
            font-size: 0.85rem;
            font-weight: 900;
        }

        a:hover{
            opacity: 0.5;
            text-decoration: none;
            transition: 300ms;
        }
    }

    .proceed-btn{
        width: 80%;
        padding: 1rem 0;
        margin: 1rem 0;
        border: none;
        background-color: var(--Bright-blue);
        border-radius: 10px;
        cursor: pointer;
        font-family: 'Red Hat Display', sans-serif;
        color: var(--Very-pale-blue);
        font-size: 1rem;
        font-weight: 700;
    }

    .proceed-btn:hover{
        opacity: 0.5;
        transition: 300ms;
    }

    .cancel-btn{
        border: none;
        background: transparent;
        margin-top: 1rem;
        margin-bottom: 3rem;
        cursor: pointer;
        font-family: 'Red Hat Display', sans-serif;
        color: var(--Desaturated-blue);
        font-size: 1rem;
        font-weight: 700;
    }

    .cancel-btn:hover{
        color: var(--Dark-blue);
        transition: 300ms;
    }
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media (max-width: 375px) {
    .main-container{
        width: 90vw;

        .summary-description{
            width: 80%;
        } 
        
        .proceed-btn{
            width: 90%;
        }
    }
}